.env
.swp
.vs/
.sass-cache/
.tscache/
.vscode/
.sonarlint/
.sonarqube/
.scannerwork/

node_modules/
lib/packages/
obj/
bin/
csx/
rcf/
Backup/

# Aclara repository with two projects, that forces to create this
# folder to replicate the remote structure and be able to push project files
./MTU%20Programmer

.sonarqube/
.scannerwork/
sonar-project.properties

.baseDir.ts
.userprefs
gulp-tsc-tmp*
Resource.Designer.cs

*.DS_Store
*.tmp.txt
*.userprefs
*.db
*.log
*.sublime-project
*.sublime-workspace
*.sass-cache
*.suo
*.user
*.nupkg
*.bak
project.lock.json
artifacts/

*.Cache
*.ruleset
*.old
*.bat